@charset "UTF-*";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
}

:root {
    --font-normal: Verdana, Geneva, Tahoma, sans-serif;
    --font-destaque: 'Passion One', cursive;
    --font-escrita: 'Sriracha', cursive;
}

html, body {
    min-height: 100vh;
    font-family: var(--font-normal);
}

header {
    background-color: black;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-variant: small-caps;
    font-size: 4vw;
}

a {
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family:  var(--font-escrita);
}

section > p {
    margin-left: 30px;
    line-height: 2em;
    font-size: 3.5vh;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.384);
    padding: 10px;
    display: inline-block;
    margin: 20px;
    text-shadow: 1px 1px 0px black;
}

section.normal > p {
    color: black;
}

section.imagem {
    background-color: lightgray;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521);
    background-size: cover;
}

section#image01 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

section#image02 {
    background-image: url("../imagens/background002.jpg");
    background-position: right top;
}

section#image03 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
}

section#image04 {
    background-image: url("../imagens/background002.jpg");
    background-position: right bottom;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
}